* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6m;
  font-size: 62.5%;
}
body{
  background-color: #a8a8a8;
}
#sing-page {
  display: flex;

}
#btnclick{

    display: flex;
    justify-content:flex-start;
    align-items: center;
    justify-items: center;
    padding: 1rem 0;

}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.logotexth{
   visibility: hidden;
  

}

.burger{
    background-color: #FFFFFF;
    width:3rem;
    height: 0.5rem;
    margin:0.2rem 0;
    border-radius: 5px;
    transition: all 1s ease;
    margin-left: -3rem;

   
}
.logotextv{
  visibility:visible;
  font-size: 2.5rem;
  margin-right: 4rem;
  color: #fff;
  font-weight: 700;
  transition: all 1s ease;
  
 }
.coolbrger:nth-child(1){
    width:2rem;
 
}
.coolbrger:nth-child(2){
    width:1.5rem;
 
}
.coolbrger:nth-child(3){
    width:1rem;
    }
#header {
  background-color: #2c4a6a;
  width: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding:1rem;
  /* overflow: hidden; */
  transition: all 1s ease;
}
.para {
  visibility: hidden;
  transition: all 0.5s ease;
}

.para2 {
  color: #FFFFFF;
  offset: 1;
  visibility: visible;
  transition: all 1s ease;
}
.btn-brgr{
  cursor: pointer;
}
.head {
  width: 18rem !important;
}
#navigastion ul{
  /* padding: 1rem; */
  font-size: 1.7rem;
  list-style-type: none;
  margin-top: 3rem;
  text-align: justify;
}

#navigastion ul li{
  margin: 2rem 0;
  padding:1rem 0;
  border-radius: 0.2rem;
  
  
}
#navigastion ul li a {
  display: flex;
  align-items: center;
  justify-items: center;
  color: #fff;
  

  /* margin-right:0.5rem; */
  font-weight: 700;
}
#navigastion ul li a i{
  color: #FFFFFF;
  margin-left: 0.5rem;
  margin-right: 3rem;
  font-size: 2rem;
}
#navigastion ul {
/* border: 1px solid red; */
margin-left: 0.6rem;
}
#mobile-menu{
  display: none;
}

#main {
  max-width: 1200px;
 
  
}

@media only screen and (max-width: 580px) {
     #header{
      display: none;
     }
     #mobile-menu{
      display: block;
      width: 100vw;
      height: 5rem;
      background-color: rgb(25, 66, 52);
      position:sticky;
      top: 0;
      transition: all 1s ease;


     }
     .logo-for-mob{
      display: flex;
      width: 100%;
      height: 5rem;
      justify-content: space-between;
      align-items: center;
      justify-items: center;
      border: 1px solid red;
      padding: 2rem;
      font-size: 2rem;
      color: #fff;
      font-weight: 600;
     }
     .btn-brgr-mob{
      position: relative;
     }
     .burger-mob{
       width: 3rem;
       height: 0.5rem;
       margin: 0.5rem 0;
       background-color: #fff;
       border-radius:0.5rem;
       cursor: pointer;
       transition: all 1s ease;

     }
     .burger-mob-two:nth-child(1){
      position: absolute;
      top: 0.3rem;
      transform: rotate(45deg);
      transition:transform 1s ease;
    }
     .burger-mob-two:nth-child(2){
       visibility: hidden;
       transition: visibility 0.2s ease;
     }
     .burger-mob-two:nth-child(3){
      position: absolute;
      top:0.3rem;
      transform: rotate(-45deg);
      transition:transform 1s ease;
    }
    .mob-menu-full{
      height: 100vh !important;
     
    }
    #navigastion-mob ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      list-style-type: none;
      margin-top: 2rem;
      transition:transform 1s ease;

    
      
    }
    .navigastion-mob2 ul{
      visibility: hidden;
      
     }
    #navigastion-mob ul li a{
      /* visibility: hidden; */
      display: flex;
      align-items:flex-start; 
      padding: 1rem 2rem;
      width: 20rem;
      text-align: left;
      border-radius: 0.5rem;
      /* border: 1px solid #fff; */
      margin: 1rem 0;
      font-weight: 600;
      color: #dd1313;
      transition:transform 0.2s ease;
    }
    #navigastion-mob ul li a i{
      margin:0 2rem;
      
    }
   
    
}
