* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6m;
  font-size: 62.5%;
}
#sing-page {
  display: flex;
  border: 1px solid red;
}
#btnclick{
    border: 1px solid black;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    justify-items: center;

}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.logo i{
    margin: 0 1rem ;
    /* margin-top: 1.5rem; */
    font-size: 3rem;
}
.logotexth{
   visibility: hidden;
  

}
.logotextv{
 visibility:visible;
 font-size: 2.5rem;
 color: #fff;
 font-weight: 700;
 transition: all 1s ease;
 
}
.burger{
    background-color: blue;
    width:3rem;
    height: 0.5rem;
    margin:0.2rem 0;
    border-radius: 5px;
    border: 1px solid red;
    transition: all 1s ease;

   
}
.coolbrger:nth-child(1){
    width:2rem;
 
}
.coolbrger:nth-child(2){
    width:1.5rem;
 
}
.coolbrger:nth-child(3){
    width:1rem;
    }
#header {
  background-color: rgb(154, 71, 71);
  width: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  /* overflow: hidden; */
  transition: all 1s ease;
}
.para {
  visibility: hidden;
  transition: all 0.5s ease;
}

.para2 {
  color: red;
  offset: 1;
  visibility: visible;
  transition: all 1s ease;
}

.head {
  width: 20rem !important;
}
#btnclick {
  padding: 1rem;
}
#main {
  max-width: 1200px;
  margin-left: 200px;
}
